<div class="row">
  <div class="col-md-8">

    <div style="display: block">
      <canvas baseChart
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
    </div>

  </div><!--.col-md-8-->

  <div class="col-md4">
    <button  (click)="numeros_random()"
             type="button" class="btn btn-primary btn-block">
      Actualizar
    </button>
  </div><!--.col-md-4-->

</div>
